.present {
    padding-top: 27px;
}

.present__title {
    font-family: IBM Plex Mono;
    font-weight: 500;
    font-size: 90px;
    line-height: 120%;
    margin-bottom: 8px;
}

.present__tagline {
    line-height: 130%;
    margin-bottom: 54px;
    max-width: 350px;
}

.present__btn {
    display: block;
    width: 285px;
    height: 68px;
    background-image: url(../img/button.png);
    filter: drop-shadow(-4px 6px 10px rgba(10, 10, 10, 0.51));
    border-radius: 2px;
    background-position: center;
    background-size: cover;
    transition: filter .3s ease-in-out;
}

.present__btn:hover {
    filter: drop-shadow(-4px 6px 10px rgba(10, 10, 10, 0.51))
      brightness(1.2);
}

.present__hero {
    margin-bottom: 30px;
}

/*@media (min-height: 900px) {
    .present {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
    
    .present__container {
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-height: 1100px;
    }
}*/

@media (max-width: 1000px) {
    .present {
        padding-top: 25px;
    }

    .present__hero {
        margin-bottom: 10px;
}

    .present__btn {
        width: 246px;
        height: 59px;
    }
    
    .present__title {
        font-size: 70px;
    }

    .present__tagline {
        margin-bottom: 28px;
        max-width: 290px;
    }
}

@media (max-width: 850px) {
    .present {
        padding-top: 58px;
    }

    .present__hero {
        margin-bottom: 0px;
    }

    .present__title {
        font-size: 60px;
    }

    .present__tabs {
        margin-top: -26px;
    }
}

@media (max-width: 850px) {
    .container {
        padding-top: 0 39px;
    }
}

@media (max-width: 650px) {
    .container {
        padding-top: 0 25px;
    }
}

@media (max-width: 650px) {
    .present {
        padding-top: 75px;
    }

    .present__hero {
        margin-bottom: 30px;
    }   

    .present__tabs {
        margin-top: 0;
    }

    .present__title {
        font-size: 50px;
        margin-bottom: 6px;
    }

    .present__tagline {
        max-width: 260px;
        margin-bottom: 23px;
    }

    .present__btn {
        width: 290px;
        height: 63px;
    }
}

@media (max-width: 480px) {
    .present__title {
        font-size: 40px;
    }

    .present__tagline {
        max-width: 193px;
    }
}

@media (max-width: 320px) { 
    .tabs__control  {
        margin: 0 auto 20px;
    }
}